@import './navbar';
@import './section';
@import './checkbtn';
@import './navMobile';
// @import './imageSection';

body{
    background-color: #27374D;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
