@import './checkbtn';

@mixin blockContent {
    display: block;
    background-color:pink;
}

$val :-250px;

.mobile{
      left: $val;
      ul{
        li{
           list-style: none;
            a{
                i{
                    
                    svg{
                        width: 0;
                    }
                }
            }
        }
      }  
}


@media screen and (max-width:600px){

    #check:checked ~ .mobile{
        display: flex;
        flex-direction: column;
        height: 100vh;
        left : 0;
        width: 30%;
        position: fixed;
        z-index: 1;
        transition: all 0.4s ease;
        ul{
            display: block;
            align-items: center;
            justify-content: center;
            li{

                display: block;
                list-style: none;
                margin-right: 20px;
                a{
                    i{
                        svg{
                            display: flex;
                            margin-top: 50px;
                            width: 40px;
                            color: aliceblue;
                            fill: none;
                            transition: fill 0.3s ease,transform 0.4s ease;

                            &:hover{
                                transform: translateX(20px);
                                fill:azure;
                            }
                   }
                }
            }
        }
    }
    }

}